<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>

<h1>Добавление канала</h1>

<form action="/subscribers/insert_channel" method="post">
<div id="channels">
    <label for="">Канал</label>
    <input type="text" name="channel" maxlength="10" width="10">
</div>
    <input type="submit" value="Сохранить" />
</form>
</body>
</html>